.btn {
    border: 0;
    padding: 1rem 2rem;
    margin: 0.5rem;
    font-family:Arial;
    font-size: 1rem;
    font-weight: bold;
}
.primary {
    background-color: #EA638C;
    color: white;
}
.secondary {
    background-color: white;
    color: #EA638C;
    border: 1px solid #EA638C;
}